.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: stretch; */
  height: 100vh;
}

.main {
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messageBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  justify-content: flex-end;
  overflow: hidden;
  padding-bottom: 1rem;
}

.messagesList {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.messageBar {
  display: flex;
  flex-direction: row;
  min-height: 2rem;
  align-items: stretch;
}

.messageInput {
  flex-grow: 1;
  margin-right: 1rem;
}

.messageBtn {
  margin-left: auto;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.chatBar {
  height: 40vh;
  display: flex;
  flex-flow: column;
  overflow: hidden;
}

.chatList {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
} 

.chatBarInput {
  flex: 0 0 80%;
}

.chat {
  flex: 1 1 auto;
  align-self: flex-start;
  background-color: lightgreen;
}

.chatMine {
  align-self: flex-end;
  background-color: pink;
}